*{font-family:'YouandiModernTR'; text-align: center; color: white;}
body{background: #29306e; margin: 0 auto;}
.logo{width: 10%; margin: 0 auto; padding-top: 30px;}
.logo img{width: 100%;}
.event_wrap{background: rgb(0, 0, 0);}
.point{color: #0070f0;}

/*section-1*/
.section_1{height: 100vh;}
.card_wrap{background: url(../img/hyundai_mboost.png) repeat center top / 100%; position: relative;}
.main_bg{background: linear-gradient(0deg, black, transparent); position: absolute; height: 93%; top: 6vh; width: 100%;}
.main-text{padding-top: 42vh; position: relative;}
.main-text p{margin-top: 0;}
.main-text p:nth-child(1){font-size: 100px; margin-bottom: 50px;}
.main-text p:nth-child(2){font-size: 50px;}
.down{position: absolute; left: 50%; display: flex; flex-direction: column;}
.down span{width: 30px; height: 30px; border-bottom: 1px solid white; border-right: 1px solid white;rotate: 45deg;}

/*section-2*/
h2{font-size: 65px;}
.swiper-container {height: 50vh; margin-top: 9vh;}
.swiper-slide { display: flex; justify-content: center; align-items: center;}
.swiper-pagination{bottom: 0 !important; top: auto !important; background: black !important;}
.swiper-button-prev:after, .swiper-button-next:after{font-size: 1.6em !important; color: white;}
.swiper-pagination-progressbar-fill{background: white !important;}
.swiper-slide img{padding-top: 30px; transition : opacity .5s linear;}
.card_none{opacity: 0; position: absolute; top: -20px; right: 20px;}
.swiper-slide:hover img{transition : opacity .5s linear;}
.swiper-slide:hover img.card_show{opacity: 0.6;}
.swiper-slide:hover img.card_none{z-index: 1; opacity: 1;}

/*section-3*/
.section_3, .button{padding: 0 17vh;}
.section_3>h2{text-align: center; margin-bottom: 10px;}
.section_3>p{font-size: 1.2rem; text-align: left; margin-bottom: 8vh;}
.section_3 h3{text-align: left; font-size: 40px; word-break:keep-all; line-height: 1.3;}

/*benefits_1*/
.benefits_1 h3:first-child{margin-bottom: 10px;}
.benefits_1 h3:last-child{margin-top: 0;}
.benefits_txt{width: 57vh;}
.percent{display: flex; align-items: flex-end; justify-content: flex-end; margin-top: -7vh;}
.percent>div{margin: 0 3vh;}
.left_per{width: 9vh; height: 7vh; border-radius: 5px; background-image: linear-gradient(to top, #29306e, #0070f0); margin: 0 auto;}
.right_per{width: 9vh; height: 17vh; border-radius: 5px; background-image: linear-gradient(to top, #29306e, #0070f0); margin: 0 auto;}
/* benefits_2 */
.pay_ico{display: flex; flex-wrap: wrap; width:80%; margin: 0 auto;}
.pay_ico>img{width: 33.3%;}
/* benefits_3 */
.benefits_3 i{font-size: 5em;}
.point_ico{display: flex; flex-wrap: wrap;}
.point_ico div{width: 29.9%; padding: 0 10px;}
.point_ico div:nth-child(1),.point_ico div:nth-child(4){padding-left: 0;}
.point_ico div:nth-child(3),.point_ico div:nth-child(6){padding-right: 0;}
.point_ico div:nth-child(n+4){margin-top: 20px;}
.point_ico h5{font-size: 1.4em; margin: 1.5vh 0; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: linear-gradient(45deg, #0070f0 0%, #6867E2 35%,#8F5DD2 50%, #6867E2 80%, #0070f0 100%); background-size: 200%; animation: graAuto 2s ease-in-out infinite;}
.point_ico p{line-height: 1.3; word-break:keep-all;}

/*button*/
.button{margin-bottom: 7vh;}
.button h4{font-size: 1.8em;}
button{width: 100%; height: 12vh; cursor: pointer; font-size: 2em; border-radius: 50px; background-image: linear-gradient(45deg, #0070f0 0%, #6867E2 35%,#8F5DD2 50%, #6867E2 80%, #0070f0 100%); background-size: 200%; animation: graAuto 2s ease-in-out infinite;}
/*footer*/
.footer{padding: 0 5vh;}
.footer h4, ul, li{text-align: left; word-break:keep-all;}
.footer h4{font-size: 1.5em; margin-bottom: 15px;}
.footer ul{position: relative; padding-left: 17px;}
.footer li{margin-top: 10px;}
ul, li{font-size: 1.2em; line-height: 1.4; list-style: none;}
.footer ul li strong ul li {font-size: x-large;}
.footer ul li::before {content: "-"; position: absolute; left: 0;}
.footer ul li strong ul li::before {content: "·  ";}

@media screen and (min-width: 1200px){
.event_wrap {
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
}
}

@keyframes graAuto { 
    0%{background-position-x: 0%;}
    100%{background-position-x: 200%;}
}